{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
    
    {{ css_resources|indent(4)|safe }}
{% endblock %}

{% block content %}
<div class="container">
  <h3>Enter Transactions Manually</h3>
  <hr>
    {{ wtf.quick_form(form) }}
  <hr>
  {{ div|safe }}
  {{ script|safe }}
  <p>Cool Text</p>
  <p><a href="{{ url_for('wallet_registration') }}">Track crypto addresses!</a></p>
  <p><a href="{{ url_for('register_broker') }}">Register a broker</a></p>
  <p><a href="{{ url_for('check_entries') }}">Check the database</a></p>
  <p><a href="{{ url_for('holdings') }}">Holdings by time held</a></p>
</div>
{% endblock %}


{% block scripts %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.2.3.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.2.3.min.js"
        crossorigin="anonymous"></script>

        {{ js_resources|indent(4)|safe }}
{{super()}}
{% endblock %}

